* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;

}
.navbar li {
  display:inline;

}

li a {
  color: black;
}

li a:hover {
  font-style: italic;
}
